
{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
      ChatGPT Response
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <br>
  <br>
  <form>
    <div class="mb-3">
      <input type="text" class="form-control"
      placeholder="Ask ChatGPT a Question">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>


{% endblock %}